{% extends 'todo_app/main.html' %}
{% block content %}


<p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
    <i class="fas fa-check-square me-1"></i>
    <u>My Todo-{{request.user|title}}</u>
    <i class="fas fa-check-square me-1"></i>
    <br>
    <br>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"> </i></a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}


    <br>
    <br>
    {% if tasks|length > 0 %}
    <a href="{% url 'task-create' %}">
        <button type="button" class="btn btn-primary">CREATE NEW TASK</button>
    </a>
    {% endif %}
</p>


<h3 class="text-center" style="margin-bottom:10px ; color:green;">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>


<div class="pb-2">
    <div class="card">
        <div class="card-body">
            <form method="GET">
                <div class="d-flex flex-row align-items-center">
                    <input type="text" name='search-area' class="form-control form-control-lg" placeholder="Search..."
                           value="{{search_input}}">
                    <input class="btn btn-primary" type="submit" value='Search'>

                </div>
            </form>
        </div>
    </div>
</div>

<hr class="my-4">

{% for task in tasks %}
<div>
    <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
        {% if task.complete %}
        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent ">
            <a style='text-decoration:none;' href="{% url 'task' task.id %}"><s><p class="lead fw-normal mb-0">{{task}}</p></s></a>
        </li>
        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
            <div class="d-flex flex-row justify-content-end mb-1">
                <a href="{% url 'task-update' task.id %}" class="text-info"
                   data-mdb-toggle="tooltip" title="Edit todo"><i
                        class="fas fa-pencil-alt me-3"></i></a>
                <a href="{% url 'task-delete' task.id %}" class="text-danger" data-mdb-toggle="tooltip"
                   title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
            </div>
        </li>
        {% else %}
        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
            <a style='text-decoration:none;' href="{% url 'task' task.id %}"><p class="lead fw-normal mb-0">{{task}}</p></a>
        </li>
        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
            <div class="d-flex flex-row justify-content-end mb-1">
                <a href="{% url 'task-update' task.id %}" class="text-info"
                   data-mdb-toggle="tooltip" title="Edit todo"><i
                        class="fas fa-pencil-alt me-3"></i></a>
                <a href="{% url 'task-delete' task.id %}" class="text-danger" data-mdb-toggle="tooltip"
                   title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
            </div>
        </li>
        {% endif %}
    </ul>
</div>
{% empty %}
    <div>
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> !
        </h3>
    </div>
{% endfor %}


{% endblock content %}


